<table class="table table-striped">
    <thead>
      <tr>
        <th>
          <div class="checkbox">
              <label>
                  <input type="checkbox">
                      <span class="checkbox-material">
                          <span class="check">
                      </span>
                  </span>
              </label>
          </div>
        </th>
        <th>直播ID</th>
        <th>直播名称</th>
        <th>直播收录</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < data.length; i++) { %>  
        <tr data-id="<%=data[i].attributes['id']%>">
          <th scope="row">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="<%=data[i].attributes['id']%>">
                        <span class="checkbox-material">
                            <span class="check">
                        </span>
                    </span>
                </label>
            </div>
          </th>
          <td><%=data[i].attributes["liveId"]%></td>
          <td><%=data[i].attributes["liveName"]%></td>
          <td><%=data[i].attributes["recoder"]%></td>
          <td><%=data[i].attributes["statusName"]%></td>
          <td>
              <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="edit" title="编辑">
                  <span class="glyphicon glyphicon-edit"></span>
              </a>
              <% if (data[i].attributes["state"] !== "LIVE" && data[i].attributes["state"] !== "NOSTART") { %>  
              <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="play" title="开始">
                  <span class="glyphicon glyphicon-play-circle"></span>
              </a>
              <% } %>
              <% if (data[i].attributes["state"] !== "STOP") { %>    
              <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="stop" title="结束">
                  <span class="glyphicon glyphicon-off"></span>
              </a>
              <% } %>
              <a href="javascript:void(0)" id="<%=data[i].attributes['id']%>" class="delete" title="删除">
                  <span class="glyphicon glyphicon-trash"></span>
              </a>
          </td>
        </tr>
    <% } %>  
    </tbody>
</table>
